:root {
  /* primary */
  --primary-black-cl: #434455;
  --primary-black-bg: #434455;
  --primary-white-cl: #ffffff;
  --primary-white-bg: #ffffff;
  --primary-accent-cl: #4d5ae5;
  --primary-accent-bg: #4d5ae5;
  /* secondary */
  --secondary-black-cl: #2e2f42;
  --secondary-black-bg: #2e2f42;
  --secondary-white-cl: #f4f4fd;
  --secondary-white-bg: #f4f4fd;
  --secondary-accent-cl: #404bbf;
  --secondary-accent-bg: #404bbf;
}
/**
  |============================
  | common styles
  |============================
*/
body {
  background-color: var(--primary-white-bg);
  color: var(--primary-black-cl);
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

/* reset */
.list,
ul,
ol {
  list-style: none;
}
.link,
a {
  text-decoration: none;
  color: currentColor;
}
.btn,
button {
  font-family: inherit;
  cursor: pointer;
}
/**
  |============================
  | base styles
  |============================
*/

/* logo */
.logo {
  color: var(--primary-accent-cl);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-black {
  color: var(--secondary-black-cl);
}

.logo-white {
  color: var(--secondary-white-cl);
}
/* site-nav */

.site-nav a {
  color: var(--secondary-black-cl);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.link-current:hover,
.link-current:focus,
.address-nav-link:hover,
.address-nav-link:focus {
  color: var(--secondary-accent-cl);
}

.address {
  font-style: normal;
}
.address-nav a {
  color: var(--primary-black-cl);
}
.address-nav-link {
  line-height: 1.5;
}
/* hero */

.hero {
  background-color: var(--secondary-black-bg);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--primary-white-cl);
  letter-spacing: 0.02em;
  text-align: center;
}

.button {
  background-color: var(--primary-accent-bg);
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-white-cl);
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  cursor: pointer;
}

.portfolio-button {
  background-color: var(--secondary-white-bg);
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-accent-cl);
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--secondary-accent-bg);
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--secondary-accent-bg);
  color: var(--primary-white-cl);
}

/* section */

.second-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--secondary-black-cl);
  letter-spacing: 0.02em;
}
.li-text {
  line-height: 1.5;
  color: var(--primary-black-cl);
}

/* our activity */

.vice-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--secondary-black-cl);
  text-align: center;
  letter-spacing: 0.02em;
}

/* our team  */
.team {
  background-color: var(--secondary-white-bg);
}
.team-li {
  background-color: var(--primary-white-bg);
}

/* footer */
.footer {
  background-color: var(--secondary-black-bg);
}
.footer-text {
  color: var(--secondary-white-cl);
  line-height: 1.5;
}

/* style to portfolio */

.portf-list {
  text-decoration: none;
}
